app/.cxx/
app/release
app/.externalNativeBuild/
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties
keys.properties

*.iml
*.DS_Store

# Gradle files
.gradle/

## Directory-based project format:
.idea/
.kotlin/